.footer {
    background-color: var(--bg--lighter-1);
    height: 6em;
    padding: 0 1em; 

    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
}


