
.header {
    background-color: var(--bg--lighter-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    padding: 1em;
    gap: 1em;
    text-wrap-mode: nowrap;
}

.header nav {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1em;
}