
.header {
    background-color: var(--bg--lighter-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    padding: 1em;
    gap: 1em;
    text-wrap-mode: nowrap;
}


@media (max-width: 680px) {

    .header {
        display: flex;
        flex-direction: column;
    }

}



.header nav {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1em;
}